.filterWrapper {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
  }
  
  .searchBar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400; 
  }
  
  .searchButton {
    padding: 6px 22px; 
    border-radius: 6px; 
    border: 1px solid var(--lilac);
    box-shadow: var(--lilac) 1px 1px 5px 0px; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 28px; 
    background-color: #6A5ACD; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.1s ease; 
  }
  
  .searchButton:hover {
    background-color: white;
    color:#6A5ACD;
  }
  
  .filterTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 15px 15px;
  }

  .filters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .filterButton {
    position: relative;
    width: 349px; 
    height: 41px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #9095A0;
    
  }
  
  .filterButton.active {
    background-color: #e0e0e0;
  }
  
  .filterList {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    color: #9095A0;
  }
  
  .filterItem {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: #9095A0;
    font-size: 16px;    
  }
  
  .filterItem:hover {
    background-color: #ddd;
  }
  