.subscribe {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub_form {
  display: flex;
  align-items: center;
}
.subscribe h3 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
}

.subscribe__form_btn {
  height: 35px;
  line-height: 22px;
}

.subscribe label {
  position: relative;
}

.subscribe__form_input {
  width: 267px;
  height: 35px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  background-color: var(--dark-gray);
}

.error {
  font-size: 12px;
  color: var(--error);
  position: absolute;
  top: 30px;
  left: 5px;
}
