.footer{
    width: 100%;
    padding: 20px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-ligth);
}

.footer__list{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.subscrible{
    margin-bottom: 50px;
}