.tooltip{
    width: 250px;
    background-color: rgb(223, 207, 187);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 6px;
    padding: 6px 2px;
    position: absolute;
    top: 23px;
    right: 20px;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    
}

.show{
    visibility: visible;
}