.btn_violet,
.btn_white,
.btn_round_right {
  display: flex;
  justify-content: center;
  padding: 6px 22px;
  border-radius: 6px;
  border: 1px solid var(--lilac);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.btn_violet:hover,
.btn_white:hover,
.btn_round_right:hover {
  box-shadow: var(--lilac) 2px 2px 5px 0px;
}


.btn_violet {
  background-color: var(--lilac);
  color: var(--white);
}
.btn_white {
  background-color: var(--white);
  color: var(--lilac);
}
.btn_violet:active,
.btn_round_right:active {
  background-color: var(--white);
  color: var(--lilac);
}

.btn_white:active {
  background-color: var(--lilac);
  color: var(--white);
}

.btn_round_right {
  border-radius: 0 6px 6px 0;
  background-color: var(--lilac);
  color: var(--white);
}

button:disabled {
  background-color: var(--dark-gray);
  color: var(--black);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}
