.input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: Roboto;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--lilac);
    border-radius: 4px;
    transition: background-color 0.1s ease;
}

.input:focus{
    border: 2px solid var(--lilac);
    outline: none;
    box-shadow: var(--lilac) 1px 1px 5px 0px;
}

