.header {
    padding: 7px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_links {
    display: flex;
}

.nav_link {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    color: var(--gray-dark);
    padding: 15px 26px;
    transition: 0.2s linear;
}

.nav_link:hover {
    font-weight: 700;
    color: var(--lilac);
}

.nav_link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--lilac);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s linear;
    border-radius: 2px 2px 10px 10px;
}

.nav_link_current::after,
.nav_link:hover::after {
    opacity: 100%;
}

.header_buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.header_button {
  width: 160px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
}

.button_text {
  display: flex;
  align-items: center;
  gap: 6px;
}