:root {
  --lilac: #6a5acd;
  --black: #171a1f;
  --black-ligth: #323842;
  --gray: #fafafb;
  --dark-gray: #eaecef;
  --gray-dark: #565e6c;
  --white: #fff;
  --error: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--lilac);
  border-radius: 10px;
}

ul,
ol {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5px;
}
